@lost flexbox flex;

* {
	font-family: 'Segoe UI';
}

body {
	margin: 0px;
	padding: 0px;
	lost-utility: clearfix;
}

.grid {
	lost-center: 100%;
	lost-utility: clearfix;

	.collumn_side {
		lost-column: 1/5;
	}

	.collumn_main {
		lost-column: 3/5;
	}
}

.tabs {
	> nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background-color: #2780e3;
		color: white;
		
		cursor: pointer;
		> * {
			padding: 0.4em;
		}

		> span {
			display: block;
			&:hover{
				background-color: #1967be;
			}
		}

		> .selected {
			color: #2780e3;
			background-color: white;
			cursor: default;
		}

		> .selected:hover {
			background-color: white;
		}
	}
}